<%inherit file="base.tmpl"/>
<%namespace name="helper" file="index_helper.tmpl" import="*"/>
<%block name="content">
    %for post in posts:
        %if (loop.first):
            <div class="index-post">
                <h2>${post.title(lang)}</h2>
                <p class="post-date">${post.date.strftime(date_format)} - </p>
                ${helper.html_tags(post)}
                <div class="index-post-text">
                    ${post.text(lang)}
                </div>
                ${helper.html_pager(post)}
            </div>
        %endif
    %endfor
</%block>
